<!DOCTYPE html>
</head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
            
            <div class="login-container">
                <div class="logo">
                    <img src="../img/logo.svg">
                </div>
                <form>
                    <div class="text">email</div>
                    <input name="email" type="text" placeholder="email@email.com">
                    <div class="text">password</div>
                    <input name="password" type="password" placeholder="password">
                    <div class="error-msg">Error message.</div>
                    <button>LOGIN</button>
                </form>
            </div>
            
    </div>
</body>