.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23em;
    height: 40em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border-radius: 2em;
}
form.login{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 70%;
     height: 40vh;

}
.login-footer a{
    color: #2699FB;
    text-decoration: underline;
}