body {
    margin: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.container {
    width: 100vw;
    height: 100vh;
    background-image:
    linear-gradient(to bottom right,rgba(3, 154, 229, 0.85),rgba(179, 229, 252, 0.85)),
    url('../img/pexels-ella-olsson-1640770.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h3{
    margin: 0;
    color: #2699fb;
}
h1, h2{
    margin: 0.5em;
    color: #2699fb;
}


button{
    width: 50%;
    height: 3em;
    border: none;
    color: white;
    margin: 1em;
    background: #2699fb;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0.35em;

}
button:hover, button:focus{
    outline: none;
    background: #4ca7f5;
}
input{
    background-color: #DCDCDC;
    border: none;
    width: 95%;
    height: 3em;
    border-radius: 0.7em;
    margin: 1em;
    padding: 0 1em;
}
input:focus{
    outline: none;
}
.text{
    flex-direction: row;
    width: 100%;
    
}
.details{
    margin: 1em;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account{
    height: 3em;
    padding: 0 1em;
    max-width: 10em;
    background-color: #2699FB;
    border-radius: 0.35em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content a{
    display: flex;
    margin: 1em 0;
    text-decoration: none;

}
.dropdown-content a:hover{
    background-color: #d6d6d6;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.75em 1em;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
img{
    height: 7em;
    margin: 2em;
}
.error-msg{
    color: red;
    height: 1em;
    width: 100%;
    margin: 1em;
    font-style: oblique;
}
.search-bar{
    width: 60%;
}

.show{
    display: block;
    background: #1a6bac;
}
.show-flex{
    display: flex;
}

.base-container{
    display: flex;

    height: 100vh;
}
.modal{
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 30em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border-radius: 2em;
    padding: 2em 2em;
}
.modal-content form{
    width: 90%;
    height: 90%;
}
.modal-content form input{
    width: 60%;
}
.two-buttons{
    display: flex;
    align-items: flex-end;

}
.remove-item .modal-content{
    width: 50em;
}
.remove-item .modal-content thead{
    display: block;
}
.remove-item .modal-content tbody{
    height: 20em;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}
select {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    background-color: #DCDCDC;
    color: #000000;
    border: none;
    width: 95%;
    height: 3em;
    border-radius: 0.7em;
    margin: 1em;
    padding: 0 1em;
}
select::-ms-expand {
    display: none;
}
 select:hover,
select:focus {
    color: #000000;
}
select:disabled {
    opacity: 0.5;
    pointer-events: none;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-left: 18em;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 0.15em solid gray;
}
nav > img{
    width: 80%;
    margin: 3em auto;
}

.no-valid{
    background-color: #ffa2a7;
    box-shadow: 0 0 0.2em red;
}

@media only screen and (max-device-width: 420px){
    *{
        font-size: 36px;
    }
    .login-container, .register-container{
        width: 90%;
        height: 72%
    }
    .register-container{
        height: 85%;
    }
    button{
        width: 50%;
    }
    .error-msg{
        width: 100%;
    }
    nav{
        display: none;
    }
    main{
        margin-left: 0;
    }
}